/* add.html , detailForm.html, updateForm.html */
body {
  background-color: #f2f5f8;
  margin: 20px;
}
/* 제목, 작성자, 내용 확인 */
input::placeholder,
textarea::placeholder {
  color: #99a3b0;
}
/* 유효성 검사 오류 메세지 */
.err-msg {
  display: none;
  color: #ff4d4d;
  font-size: 0.8em;
  font-style: italic;
}
.err-msg.on {
  display: block;
}
/* 중앙 정렬 */
.wrap {
  margin: auto;
  text-align: center;
}
/* 타이틀 */
h2 {
  color: #008080;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
/* text 구분 (날짜 제외) */
label:not(.date) {
  display: none;
  margin-bottom: 6px;
}
/* 게시글 번호 */
input#boardId {
  display: none;
}
/* text 박스 */
input[type="text"],
textarea {
  width: 80%;
  padding: 8px;
  margin: 5px;
  border: 1px solid #99a3b0;
  border-radius: 4px;
  box-sizing: border-box;
}
/* 버튼 모음 */
.btn-wrap {
  margin-top: 5px;
}
/* 버튼 서식 */
.btn-wrap > * {
  background-color: #008080;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.btn-wrap > *:hover {
  background-color: #005454;
}
/* 다이얼로그 모달 */
dialog {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10% auto;
}
/* '삭제하시겠습니까' */
dialog > p {
  margin: 10px 0;
  font-weight: bold;
}
/* 버튼 스타일 */
dialog > form > button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}
dialog > form > #cancelBtn {
  background-color: #ddd;
}
dialog > form > #delItemBtn {
  background-color: #e74c3c;
  color: white;
}